body {
    background-image: url("images/taxi.jpg");
    color: #f4f4f4!important;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

p, li {
    font-size: 16px;
}

.row {
    background: rgba(0, 0, 0, .8);
    margin-top: 20px;
    padding: 20px;
}

select#hinnaValikud {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    height: 34px;
}

#vastus {
    font-size: 48px;
}